.navbar {
  width:100vh;    
  height: 45px;
  position:fixed;
  right: 0;
  background:#4c4c4c;
  transform-origin: right top;
  transform: rotate(90deg) translateX(100%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--c-light);
  z-index: 2;
  
}
.navbar a {
  color: var(--c-theme);
  font-size: var(--fs-body);
  font-family: var(--ff-title);
  font-weight: var(--fw-bold);
  letter-spacing: 1.7px;
  cursor: pointer;
}
.navbar a:hover {
  color: var(--c-red);
}
.active{
  color: var(--c-red)!important;
}
@media only screen and (max-width: 768px ) {
  .navbar {
    display: none;
  }
}